/* Button */
button,
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 1em;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0.6em;
    white-space: nowrap;
    gap: 0.4em;
    font-weight: 500;
    max-width: 12em;
}

button:hover,
.button:hover {
    background-color: var(--gray-300);
}

.primary {
    background-color: var(--primary);
    color: var(--white);
}

.destructive {
    background-color: var(--red-500);
    color: var(--white);
}

.secondary {
    background-color: var(--gray-100);
    color: var(--brown-900);
}

.secondary:hover {
    background-color: var(--brown-500);
    color: var(--white);
}

.secondary:disabled {
    background-color: var(--gray-300);
    opacity: 0.8;
    cursor: not-allowed;
}

.secondary:disabled:hover {
    background-color: var(--gray-300);
}

.tertiary {
    background-color: var(--gray-100);
    color: var(--gray-400);
}

.tertiary:hover {
    background-color: var(--gray-200);
    color: var(--gray-500);
}

.ghost {
    padding: 0.5em;
    border-radius: 0.2em;
    color: var(--black);
    background-color: transparent;
    cursor: pointer;
}

.ghost:hover {
    /* background-color: var(--gray-200); */
    background-color: transparent;
}

.icon {
    position: relative;
    padding: 0.5em;
    border-radius: 0.2em;
    background-color: transparent;
    /* cursor: pointer; */
    transition: all 0.3s ease;
}

.icon.like > i,
.icon.like > .fa-heart {
    color: var(--red-500);
    font-size: 1.2em;
}

/* .icon:hover {
  background-color: var(--gray-100);
} */

.icon.like:hover {
    background-color: transparent;
}

.outline {
    background-color: var(--gray-100);
    color: var(--gray-500);
    border: 1px solid var(--gray-300);
}

.outline:hover {
    background-color: var(--gray-100);
}

.upload-button {
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-button i {
    font-size: 0.9rem;
    color: var(--gray-700);
}

.upload-button .text {
    font-size: 0.9rem;
}

.badge {
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);
    font-size: 0.8rem;
}

.badge-02 {
    background-color: var(--sky-200);
    border: 1px solid var(--sky-300);
    border-radius: 0.3em;
    color: var(--sky-700);
    padding: 0.5em 1em;
}

.badge-02:hover {
    background-color: var(--sky-200);
}

.badge:hover {
    background-color: none;
}

.success {
    background-color: var(--success);
    color: var(--text);
}

.warning {
    background-color: var(--warning);
    color: var(--text);
}

.error {
    background-color: var(--error);
    color: var(--text);
}

.info {
    background-color: var(--info);
    color: var(--text);
}

.message {
    display: none;
    min-width: 100%;
    overflow: hidden;
}

.message.main.active,
.message.active {
    display: flex;
}

.message.products {
    display: none;
    text-align: left;
}

.message.main {
    padding: 0.8em;
    display: none;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.4em;
}

.message.main .group {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.message.main .group .icon {
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}

.message.main.error {
    border: 1px solid var(--error-border);
    background-color: var(--error-bg);
    color: var(--error-text);
}
.message.main.info {
    border: 1px solid var(--info-border);
    background-color: var(--info-bg);
    color: var(--info-text);
}

.message.main.warning {
    border: 1px solid var(--warning-border);
    background-color: var(--warning-bg);
    color: var(--warning-text);
}
.message.main.success {
    border: 1px solid var(--success-border);
    background-color: var(--success-bg);
    color: var(--success-text);
}

.message.main .group .title {
    font-weight: 500;
}

.message .text {
    font-size: 0.9rem;
}

.message .text.error {
    color: var(--error-text);
}

.message .text.info {
    color: var(--info-text);
}

.message .text.warning {
    color: var(--warning-text);
}

.message .text.success {
    color: var(--success-text);
}

/* Table */
table {
    border-collapse: collapse;
    border-spacing: 1px;
    border-color: var(--brown-500);
    background-color: var(--white);
    width: 100%;
    border: 1px solid var(--brown-500);
    border-top: 0;
    border-radius: 0.6em;
    height: calc(100vh - 16em);
    overflow: auto;
}

table tr {
    width: 100%;
    display: flex;
}

table th,
table td {
    text-align: left;
    padding: 0.8em;
    display: flex;
    justify-content: space-between;
    flex: 1;
    min-width: 10em;
}

table th {
    /* cursor: pointer; */
    transition: all 0.3s ease;
    border: 1px solid var(--brown-500);
    border-right: 0;
}

table th:first-child {
    border-left: 0;
}

table th:hover {
    background-color: var(--brown-50);
}

table td {
    border-bottom: 1px solid var(--brown-500);
    padding: 0.5em;
    display: flex;
    justify-content: start;
    align-items: center;
}

table td.rating {
    display: flex;
    gap: 0.4em;
    align-items: center;
}

table td.actions {
    display: flex;
    gap: 0.5em;
}

table td.actions a,
table td.actions form {
    flex: 1;
}

table .group {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

table tr:nth-child(even) {
    background-color: var(--brown-100);
}

.fa-star {
    color: var(--yelow-500);
}

/* Forms */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

form .actions {
    display: flex;
    justify-content: end;
}

form .fields {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form .fields .group {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
}

form .fields .group .field {
    flex: 1;
}

form .columns {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    gap: 1em;
}

@media (min-width: 728px) {
    form .columns {
        grid-template-columns: repeat(2, 1fr);
    }
}

form .columns .fields {
    flex: 1;
}

form .field {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    justify-content: flex-start;
}

form .field input,
form .field textarea,
form .field select {
    padding: 0.5em;
    outline: 0;
    border-radius: 0.6em;
    border: 1px solid var(--gray-300);
    transition: all 0.3s ease;
}

form .field input:hover,
form .field input:focus-within,
form .field textarea:hover,
form .field textarea:focus-within,
form .field select:hover,
form .field select:focus-within {
    border: 1px solid var(--brown-300);
}

form .fields .actions {
    display: flex;
    justify-content: center;
}


form .fields .actions:has(.actions-group) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.4em;
}

form .fields .actions .actions-group {
    display: flex;
    flex-direction: row;
    gap: 0.4em;
}

input[type="checkbox"]:checked {
    color: var(--brown-500);
}

/* Options Motif */
.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: left;
    gap: 1em;
}

@media (min-width: 728px) {
    .options {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .options {
        grid-template-columns: repeat(4, 1fr);
    }
}

.option input[type="checkbox"] {
    display: none;
}

.option {
    padding: 0.8em 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.6em;
    white-space: nowrap;
    max-width: 12em;
    font-weight: 500;
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.4em;
    background-color: var(--white);
    transition: color 0.3s, background-color 0.3s;
    font-size: 0.9rem;
}

.option:hover {
    background-color: var(--brown-500);
    color: var(--white);
}

.option.active {
    background-color: var(--brown-500);
}

.category-option label,
.option label {
    cursor: pointer;
}

.category-option.active label,
.category-option:hover label,
.option label:hover {
    color: var(--brown-700);
}

.option input[type="radio"],
.color-option input[type="radio"],
.size-option input[type="radio"],
.category-option input[type="radio"] {
    display: none;
}

.option:hover,
.option input[type="radio"]:active {
    color: var(--brown-500);
}

.option input[type="radio"]:checked {
    color: var(--white);
    background-color: var(--brown-500);
    font-weight: bold;
}
