.login-container {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-container .bg-img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.login-container .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--white);
}

.login-container form .fields {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login-container form .fields .field {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.login-container form .fields .field input {
    padding: 0.5em;
    border: 1px solid var(--gray-300);
    outline: 0;
}

.login-container form .fields .field::placeholder {
    color: var(--gray-500);
}

.login-container form .fields .field input:hover,
.login-container form .fields .field input:focus-within {
    border: 1px solid var(--teal-500);
}
