@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", "Inter", sans-serif;
    /* overflow-x: hidden; */
    font-size: 1rem;
    color: var(--gray-900);
}

/* Global */
:root {
    /* Primary Colors */
    --primary: #ef4444;
    --secondary: #d4d4d8;
    --accent: #ffc107;
    --background: #f8f9fa;
    --text: #fff;
    --white: #fff;
    --black: #18181b;

    /* Modes */
    --primary-light: ;
    --primary-dark: ;

    /* Violet Color Scale */
    --violet-50: #f5f3ff;
    --violet-100: #ede9fe;
    --violet-200: #ddd6fe;
    --violet-300: #c4b5fd;
    --violet-400: #a78bfa;
    --violet-500: #8b5cf6;
    --violet-600: #7c3aed;
    --violet-700: #6d28d9;
    --violet-800: #5b21b6;
    --violet-900: #4c1d95;

    /* Sky Color Scale */
    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;
    --sky-950: #082f49;

    /* Gray Color Scale */
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #030712;

    /* Red Color Scale */
    --red-50: #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;

    /* Green Color Scale */
    --green-50: #f0fdf4;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;

    /* Message Colors */
    --success-text: #166534;
    --success-border: #166534;
    --success-bg: #dcfce7;

    --warning-text: #fef9c3;
    --warning-border: #a16207;
    --warning-bg: #a16207;

    --error-text: #b91c1c;
    --error-border: #b91c1c;
    --error-bg: #fee2e2;

    --info-text: #1d4ed8;
    --info-border: #1d4ed8;
    --info-bg: #dbeafe;

    /* Box Shadow */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.2);
    --shadow-xl: 0 25px 50px rgba(0, 0, 0, 0.3);
    --shadow-2xl: 0 25px 50px rgba(0, 0, 0, 0.3);
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: #fff;
    overflow-x: hidden;
}

a {
    color: var(--black);
}

/* Loaders */
#loader {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner {
    min-width: 5em;
    min-height: 5em;
    border: 0.8em solid var(--zinc-300);
    border-radius: 50%;
    border-bottom-color: var(--violet-400);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: inline-block;
}

@-webkit-keyframes spin {
    0% {
        -webkit-animation: rotate(0deg);
    }
    100% {
        -webkit-animation: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#content {
    display: none;
}

.container {
    /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}

main {
    /* margin-top: 4.5em; */
    /* max-width: 64em; */
    min-width: 100dvw;
    /* min-height: 100dvh; */
}

/* section {
  padding: 2.5em 1em;
  display: flex;
  flex-direction: column;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", "Inter", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.6rem;
}

p {
    line-height: 1.2em;
}

/* @media (min-width: 768px) {
  p {
    line-height: 1.4em;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.6rem;
  }
} */
